@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #230b34;
  box-shadow: 0 0 0px 1000px white inset;
  transition: white 5000s ease-in-out 0s;
  background: white;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.z-index-top {
  z-index: 999;
}

.z-index {
  z-index: 500;
}

.active {
  @apply text-primary-600;
}

.active__navlink_sidebar {
  @apply font-bold duration-300 border-red-600 rounded-none text-primary-600;
}

.box__shadow__nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.box__shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.dropdown {
  max-width: 400px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-primary {
  @apply uppercase focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2;
}

.btn-secondary {
  @apply uppercase py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-200;
}
